@import "primeicons/primeicons.css";
@import 'vidstack/player/styles/base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  @apply bg-[#383838] text-white
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom,
    rgba(20, 20, 20, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 29%,
    rgba(20, 20, 20, 0.58) 44%,
    #141414 68%,
    #141414 100%);
}

